<h1>About Me</h1>
<h2>Profile Summary</h2>
<p>I am a Product management professioanl with more than 10+ years of accomplishments in envisioning, building and launching innovative payment products
cards, digital payments, digital wallets, mobile payments, etc.
 used by millions of end user consumers.</p>

