<h1>Welcome to Payments 101</h1>
<h2>Your source to what's happening in payments world</h2>
<p>Welcome! The date and time is <%= Time.now %></p>
<%= image_tag("payments.jpg", class: "img-responsive") %>